@charset "UTF-8";

body {
    background-color: rgb(236, 208, 255);
    margin: auto;
    font-family: "Rubik", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 175%;
    color: rgb(38, 16, 63);
}

h1 {
    font-size: 250%; 
}

h2 {
    font-size: 125%;
}

section {
    background-image: url("https://www.transparenttextures.com/patterns/noise-pattern-with-subtle-cross-lines.png");
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border: .25em solid rgb(38, 16, 63);
    border-radius: 1.5em;
    width: 80%;
    padding: 1em;
}

span:lang(zh) {
    font-family: "ZCOOL KuaiLe", Verdana, Geneva, Tahoma, sans-serif;
}

span:lang(ja) {
    font-family: "Mochiy Pop One", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

p {
    text-align: left;
}

iframe {
    max-width: 100%;
    width: 100%;
}

footer, footer p {
    font-family: "Rubik", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 100%;
}